//=======================================================
// Typography
//=======================================================

$font-stack-base: 'Verdana', 'Arial', sans-serif;
$font-stack-secondary: 'Arial', 'Helvetica', sans-serif;

$font-weight-bold: bold;
$font-italic: italic;
